@import './function.scss';

// 热搜标签
@mixin module-hot {
  .m-hot {
    width: 400px;

    .ct {
      margin-bottom: 20px;
    }

    .title {
      min-width: 177px;
      min-height: 32px;
      margin-bottom: 10px;
      opacity: .35;
      border-bottom: 1px solid #e8e8e8;
    }

    @include unit-tag;
  }
}

// 发现音乐子菜单内容
@mixin module-tab {
  .m-tab {

    // 发现音乐
    &-fmc {
      .hd {
        padding: 10px 0;
        white-space: pre-wrap;
      }

      .ct {
        .icon {
          cursor: pointer;
        }
      }
    }
  }
}

@mixin module-playControl {
  .m-pcm {
    grid-template-columns: repeat(5, 12%);
  }

  .m-pcr {
    grid-template-columns: repeat(4, 16%);
    height: 40px;
  }
}

// table表格
@mixin module-table {
  .m-table {
    &-pl {
      width: 450px;
      height: 640px;
      @include func-border;

      // 播放列表切换控件
      @include unit-btn;
    }
  }
}

// banner
@mixin module-banner {
  .m-banner {
    margin-bottom: 20px;

    .container {
      margin: 0 50px;
      border-radius: 10px;

      .hover {
        opacity: 0;
      }
    }

    .slide {
      position: relative;
      width: 500px;

      img {
        width: 500px;
        border-radius: 10px;
      }

      .label {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 2px 8px;
        border-radius: 5px;
      }
    }
  }

  .swiper-container {
    /* 设置Swiper风格 */
    --swiper-theme-color: #ffffff;
    /* 单独设置按钮颜色 */
    --swiper-navigation-color: rgb(103, 103, 103);
    /* 设置按钮大小 */
    --swiper-navigation-size: 20px;
  }
}

// sortable 拖拽列表
@mixin module-sortable {
  .m-sort {
    margin: 64px auto 128px;

    .intro {
      margin-bottom: 8px;
    }

    &-item {
      border-radius: 5px;

      &:hover {
        animation: sortItem .3s ease .3s forwards;
      }

      @keyframes sortItem {
        100% {
          background-color: rgb(235, 235, 235);
        }
      }

      .icon {
        padding-right: 10px;
      }

      .text {
        padding-left: 10px;
      }
    }
  }
}

// recommend 推荐列表
@mixin module-recommend {
  .m-rd {
    padding: 15px 0 30px;

    // 推荐歌单
    &-rs {
      margin: 0 auto;

      .item {
        .img {
          width: 180px;
          height: 180px;
          border-radius: 10px;
        }

        .img-first {
          margin: 0 auto;
          background-image: linear-gradient(to bottom right, rgb(75, 40, 40), rgb(230, 190, 190));
        }

        .img-box {
          width: 180px;
          margin: 0 auto;

          .top {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 0;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            background-color: rgba(0, 0, 0, 0.3);
            line-height: 28px;
          }

          .amount {
            top: 3px;
            right: 10px;
            opacity: 0;
          }

          .icon {
            bottom: 10px;
            right: 10px;
            opacity: 0;
          }

          &:hover {
            .icon {
              opacity: 1;
              animation: recommendSongIcon 1s ease;
            }

            .top {
              animation: recommendSongTop .3s ease forwards;
            }

            .amount {
              opacity: 1;
              animation: recommendAmount 1s ease forwards;
            }
          }

          @keyframes recommendSongIcon {
            from {
              opacity: 0;
            }

            to {
              opacity: 1;
            }
          }

          @keyframes recommendSongTop {
            100% {
              height: 28px;
            }
          }

          @keyframes recommendAmount {
            from {
              opacity: 0;
            }

            to {
              opacity: 1;
            }
          }
        }
      }
    }

    // 独家放送
    &-eb {
      .item {
        width: 250px;

        .img {
          width: 250px;
          height: 140px;
          border-radius: 5px;
        }

        &:hover {
          .icon {
            animation: showExclusiveBroadcastIcon 1s ease;
            color: #fff;
          }
        }

        @keyframes showExclusiveBroadcastIcon {
          from {
            color: rgba(0, 0, 0, 0.7);
          }

          to {
            color: #fff;
          }
        }

        .icon {
          top: 5px;
          left: 5px;
        }
      }
    }

    // 最新音乐
    &-ns {
      .item {
        border-bottom: 1px solid #eee;
        padding: 10px;
        border-radius: 5px;

        .icon {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
        }

        &:hover {
          animation: changeNewSongBackground 1s ease;
          background-color: rgb(235, 235, 235);

          .icon {
            opacity: 1;
            animation: showNewSongIcon 1s ease;
          }

          .exclusive {
            animation: exclusiveChange .3s ease .3s forwards;
          }

          @keyframes showNewSongIcon {
            from {
              opacity: 0;
            }

            to {
              opacity: 1;
            }
          }
        }

        @keyframes changeNewSongBackground {
          from {
            background-color: rgb(250, 250, 250)
          }

          to {
            background-color: rgb(235, 235, 235);
          }
        }

        @keyframes exclusiveChange {
          100% {
            background-color: #ff6700;
            color: #fff;
          }
        }

        .artist-name {
          &:hover {
            cursor: pointer;
            color: #333;
          }

          .exclusive {
            border: 1px solid #ff6347;
            border-radius: 5px;
            padding: 1px 3px;
          }
        }
      }
    }

    // 推荐 Mv
    &-mv {
      .item {
        width: 250px;

        &:hover {
          .amount {
            opacity: 0;
          }

          .top {
            animation: recommandMvTop .3s ease .5s forwards;
          }
        }

        @keyframes recommandMvTop {
          100% {
            height: 36px;
          }
        }

        .top {
          padding: 0 5px;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          height: 0;
          word-break: break-all;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          background-color: rgba(0, 0, 0, 0.5);
          line-height: 36px;
        }

        .amount {
          top: 3px;
          right: 10px;
          opacity: 1;
        }

        .img {
          width: 250px;
          height: 140px;
          border-radius: 5px;
        }

        .name,
        .artist-name {
          padding-top: 5px;
          margin: 0;
        }

        .name {
          width: 250px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }


    // 推荐电台
    &-dj {
      .item {
        border-bottom: 1px solid #eee;
        border-radius: 10px;

        &:hover {
          animation: changeDjprogramBackground 1s ease;
          background-color: rgb(235, 235, 235);
        }

        @keyframes changeDjprogramBackground {
          from {
            background-color: rgb(250, 250, 250)
          }

          to {
            background-color: rgb(235, 235, 235);
          }
        }

        .img {
          margin: 10px;
          border-radius: 10px;
          border: 1px solid #eee;
          width: 80px;
          height: 80px;
        }

        .rcmdText,
        .name {
          padding-top: 5px;
        }

        .name {
          &:hover {
            animation: nameColorChange 1s ease .2s forwards;
          }

          @keyframes nameColorChange {
            100% {
              color: rgb(90, 80, 80);
            }
          }
        }
      }
    }
  }
}