// 元件
@mixin unit-tag() {
  .u-tag {
    &-hot {
      margin: 3px 8px 3px 0;
      padding: 3px 10px;
      border-radius: 20px;
    }
  }
}

@mixin unit-icon() {
  .u-icon {
    cursor: pointer;
    border-radius: 50%;
    &-hd {
      padding: 8px;

      &.forward, &.go {
        padding: 5px;
      }

      &-forward {
        margin-right: 10px;
      }

      &:hover {
        animation: changeIcon .5s ease forwards;
      }

      @keyframes changeIcon {
        100% {
          background-color: #ccc;
          color: #fff;
        }
      }
    }
  }
}
