// 元件
@mixin unit-tag() {
  .u-tag {
    &-hot {
      margin: 3px 8px 3px 0;
      padding: 3px 10px;
      border-radius: 20px;
    }
  }
}

@mixin unit-icon() {
  .u-icon {
    cursor: pointer;
    border-radius: 50%;

    &:hover {
      animation: changeIcon .5s ease forwards;
    }

    @keyframes changeIcon {
      100% {
        background-color: #ccc;
        color: #fff;
      }
    }

    &-forward,
    &-go {
      padding: 5px;
    }

    &-forward {
      margin-right: 10px;
    }

    &-other {
      padding: 8px;
    }
  }
}

@mixin unit-btn() {
  .u-btn {
    border-radius: 20px !important;

    &-group {
      width: 178px;
      border-radius: 20px !important;
      margin: 0 auto;
      border: 1px solid #c1c1c1;
    }

    &-adjust {
      width: 120px;

      &:hover {
        animation: adjustChangeColor .5s ease .3s forwards;
      }

      @keyframes adjustChangeColor {
        100% {
          background-color: #C2453A;
          color: #ffffff;
        }
      }
    }
  }
}