.recommendSongList {
  padding: 15px 0 30px;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  margin: 0 auto;
  text-align: center;
  cursor: pointer;

  &-item {
    .img {
      width: 180px;
      height: 180px;
      border-radius: 10px;
    }

    .img-first {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      background-image: linear-gradient(to bottom right, rgb(75, 40, 40), rgb(230, 190, 190));

      .top {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 0;
        overflow: hidden;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: rgba(0, 0, 0, 0.3);
        font-size: 12px;
        color: #fff;
        line-height: 28px;
      }

      .weekDay {
        color: #fff;
        font-size: 20px;
      }

      .day {
        color: #C2453A;
        font-size: 24px;
        font-weight: bold;
      }
    }

    .imgBox {
      position: relative;
      width: 180px;
      width: 180px;
      margin: 0 auto;
      overflow: hidden;

      .icon {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 32px;
        color: #C2453A;
        opacity: 0;
      }

      &:hover {
        .icon {
          opacity: 1;
          animation: recommendSongIcon 1s ease;
        }

        .top {
          animation: recommendSongTop .3s ease forwards;
        }
      }

      @keyframes recommendSongIcon {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }

      @keyframes recommendSongTop {
        100% {
          height: 28px;
        }
      }
    }
  }
}

.exclusiveBroadcast {
  padding: 15px 0 30px;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-content: space-between;
  cursor: pointer;

  &-item {
    position: relative;
    width: 250px;

    &:hover {
      .icon {
        animation: showExclusiveBroadcastIcon 1s ease;
        color: #fff;
      }
    }

    @keyframes showExclusiveBroadcastIcon {
      from {
        color: rgba(0, 0, 0, 0.7);
      }

      to {
        color: #fff;
      }
    }

    .icon {
      font-size: 20px;
      position: absolute;
      top: 5px;
      left: 5px;
    }
  }
}

.newSong {
  border-top: 1px solid #eee;
  padding: 5px 0 30px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-column-gap: 15px;

  .icon {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  &-item {
    border-bottom: 1px solid #eee;
    align-self: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      animation: changeNewSongBackground 1s ease;
      background-color: rgb(235, 235, 235);

      .icon {
        opacity: 1;
        animation: showNewSongIcon 1s ease;
      }

      @keyframes showNewSongIcon {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }
    }

    @keyframes changeNewSongBackground {
      from {
        background-color: rgb(250, 250, 250)
      }

      to {
        background-color: rgb(235, 235, 235);
      }
    }

    .music-name {
      font-size: 14px;
      font-weight: bold;
    }

    .artist-name {
      font-size: 12px;
      color: rgb(105, 105, 105);

      &:hover {
        cursor: pointer;
        color: #333;
      }
    }
  }
}