.swiper-container{
  --swiper-theme-color: #ffffff;/* 设置Swiper风格 */
  --swiper-navigation-color: rgb(103, 103, 103);/* 单独设置按钮颜色 */
  --swiper-navigation-size: 20px;/* 设置按钮大小 */
  .hover {
    opacity: 0;
  }
}
